#navbar{
    width: 100%;
    height: auto;
    /* border: 1px solid red; */
}
#pickup{
    height: 40px;
    background-color: rgb(235, 235, 235);
}
#navimg{
    height: 25px;
    

}
.gps{
    display: flex;
    flex-direction: row-reverse;
    text-align: center;
}
#head12{
    margin: 17px auto 8px;
    width: 258px;
    height: 25px;
    left: auto;
    position: relative;
    right: auto;

    margin-top: 27px;
    width: 340px;
    height: 34px;
}
.lefthead{
    height: 40px;
    margin-left: -150px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.lefthead>a{
    text-decoration: none;
}
.links{
    margin-top: 15px;
    font-size: 14px;
   
  
}
.links>a{
    text-decoration: none;
    color: grey;
    
}
.links>a:hover{
    text-decoration: underline 2px solid rgb(47, 74, 226);


}
#navimg1{
    width: 30px;
}