*{
    /* margin: 0px;
    padding: 0px; */
    font-family: Trade Gothic W01 Light,Arial,sans-serif;
}

/* NavBar */
#navbar{
    width: 100%;
    height: auto;
    /* border: 1px solid red; */
}
#pickup{
    background-color: rgb(235, 235, 235);
}
#pickup>.gps>h3>img{
    height: 25px;
    

}
.gps{
    display: flex;
    flex-direction: row-reverse;
    text-align: center;
}
#head{
    margin: 17px auto 8px;
    width: 258px;
    height: 25px;
    left: auto;
    position: relative;
    right: auto;

    margin-top: 27px;
    width: 340px;
    height: 34px;
}
.lefthead{
    margin-left: -150px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.lefthead>a{
    text-decoration: none;
}
.links{
    margin-top: 15px;
    font-size: 14px;
   
  
}
.links>a{
    text-decoration: none;
    color: grey;
    
}
.links>a:hover{
    text-decoration: underline 2px solid rgb(47, 74, 226);


}



/* End Nav Bar */


#topopenpage{
    width: 100%;
    height: 40px;
    /* border: 1px solid black; */
    background-color: white;
    padding-left: 20px;
    /* margin-top: 30px; */
    margin-bottom: 5px;
    font-size: 10px;
}
#container{
    width: 100%;
    height: auto;
    /* border: 1px solid red; */
    background-color:white;
    display: flex;
    justify-content: space-around;
}
#container_1{
    width: 18%;
    height: auto;
    /* border: 1px solid rgb(230, 213, 213); */
}
#container_2{
    width: 80%;
    height: auto;
    /* border: 1px solid blue; */
    background-color: rgb(255, 255, 255);
}
#sidemenu_id{
    width: 75%;
    height: auto;
    /* border: 1px solid black;  */
}
#topopenpage{
    display: flex;
    gap: 10px;
    margin-top: -10px;
}
/* hsfooseuiq */
#sidemenu_id>div>h3{
    font-size: 13px;
    margin-top: 50px;
    margin-bottom: 20px;
}
#sidemenu_id>div>p>a{
    line-height: 20px;
    font-size: 12px;
    text-decoration: none;
    color: rgb(95, 95, 95);
}


/* Second DIV Propertis */









/*#products{
display: flex;
justify-content: center;
align-items: center;
}
#products{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(13,350px);
    gap: 10px;
}
#products>div{
    border: 1px solid red;
} */

#filters{
    /* border: 1px solid red; */
    width: 60%;
    height: 50px;
    margin-top: 15px;
    margin-bottom: 20px;
    background-color: aquamarine;
}

#filters>select{
    padding: 5px 40px 5px 0px;
    border: 3px solid black;  
    border-top:grey ;
    border-left: grey;
    border-right: grey;
    justify-content: space-evenly;
    margin-bottom: 20px;
    align-items: center;
    margin-top: 10px;
}


.mainCot{
    /* border: 1px solid red; */
    display: flex;
    height: 80px;
}

#short{
    margin-top: 19px;
    margin-left: 80%;
    padding: 10px 20px;
}


#container_2>div>h1{
    /* Hand Soaps & Sanitizers */
    font-family: Trade Gothic W01 Light,Arial,sans-serif;
    font-size: 21px;
    font-size: 1.3125rem;
    line-height: 21px;
    line-height: 1.3125rem;
    color: rgb(75, 75, 75);
    margin: 1.25rem 0;
    margin-top: 9px;
    font-weight: 400;
    border-bottom: 1px solid #333;
    padding-bottom: 0.625em;
    margin-bottom: 20px;
}










        /* Products Side Page */
        /* Products Side Page */
        /* Products Side Page */
        /* Products Side Page */

        #containe{
            display: flex;
            justify-content: center;
        }
        #containe{
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-template-rows: repeat(13.5, 400px);
            gap: 10px;
        }
        #containe>div{
            
            /* border: 1px solid rgb(38, 33, 43); */
        }
        #containe>div>img{
            display: block;
            margin: auto;
            margin-top: 10px;
            width: 50%;
            height: 50%;
        }
        #containe>div>img+h3{
            text-align: center;
        }
        #containe>div>p{
            margin-top: -15px;
            margin-bottom: 15px;
            text-align: center;
        }
        #containe>div>p+h3{
            margin-top: -15px;
            text-align: center;
        }
        #containe>div>p+h3+p{
            color: red;
            font-size: 10px;
        }
        #containe>div>button{
            display:block;
            margin: auto;
            margin-top: -5px;
            padding: 7px 55px;
            background-color: black;
            color: white;
            cursor: pointer;
            border: 0px ;
        }
        #containe>div>button:hover{
            background-color: white;
            color: black;
        }

















.paras>a{ 
    /* text-decoration: none; */
    /* color: black; */
}
#paraDiv>p>a{
    color: grey;
}
#paraDiv>p{

    color: grey;
    line-height: 23px;
    width: 80%;
    font-size: 13px;
}

#lastbox{
    display: flex;
}
#left{
    width: 30%;
    height: auto;
    height: auto;
    border: 0px solid blue;
}
#right{
    width: 70%;
    height: auto;
    /* border: 1px solid blue; */
    display: flex;
    
}
.btn:hover{
    background-color:rgb(145, 31, 31);
    color: rgb(0, 0, 0); 
}
#fotterimg{
    display: flex;
    width: 100%;
    height: 25px;
}
#fotterimg>div>img{
    height: 30px;
    width: 30px;
    margin-top: -10px;
    margin-left: 10px;
    border-radius: 30px;
}
#rightboxes{
width: 20%;
height: auto;
/* border: 1px solid red; */
margin: auto;
margin-top: 0px;
}