form {
    margin: 0 auto;
    margin-top: 50px;
    width: 30%;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    padding: 30px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color: rgb(180, 176, 244);
  }
  
  label {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
  }
  

  input[type="submit"] {
    background-color: #b8f06a;
    color: rgb(7, 6, 6);
    padding: 12px 20px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    width: 100%;
    font-size: 20px;
  }
  
  input[type="submit"]:hover {
    background-color: #3973b6;
  }

  input[type="text"],
input[type="number"],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}
div{
    text-align: center;
    font-size: 38px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(227, 158, 134);
    box-shadow: rgba(173, 101, 101, 0.35) 0px 5px 15px;
}